.login-box {
    border: 1px solid #CCC;
    border-radius: 1em;
    padding-bottom: 2em;
}

.signup-box {
    margin-top: 1em;
    padding-bottom: 2em;
}

.signup-box-right {
    margin-top: 60%
}

.message-lf {
    padding-top: 2em;
}