<!DOCTYPE html>
<html lang="en" ng-app="AssignmentApp">
<head>
    <meta charset="UTF-8">
    <title>Day 10</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="container">

        <!-- Header -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jumbotron">
                    <h1>Day 10 Assignment</h1>
                </div>
            </div>
        </div>

        <!-- Log-in Form -->
        <div ng-controller="LoginCtrl as loginCtrl">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 login-box">
                    <h1>Log In</h1>
                    <hr>
                    <form name="loginForm">
                        <div class="form-group">
                            <label for="username_lf">Username: </label>
                            <input class="form-control" type="text" name="username_lf" id="username_lf" ng-model="loginCtrl.username_lf" required>
                        </div>
                        <div class="form-group">
                            <label for="password_lf">Password: </label>
                            <input class="form-control" type="password" name="password_lf" id="password_lf" ng-model="loginCtrl.password_lf" required>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-success" ng-click="loginCtrl.buttonPress('submit')" ng-disabled="loginForm.$invalid">Submit</a>
                            <a href="#" class="btn btn-default" ng-click="loginCtrl.buttonPress('clear')">Clear</a>
                        </div>
                        <div class="message-lf text-center">
                            <h2>{{loginCtrl.message}}</h2>
                            <p>Don't have an account? <a href="#signup" ng-click="loginCtrl.buttonPress('displayForm')">Sign up now!</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            </div>
        </div>


        <!-- Sign-up Form -->
        <a id="signup"></a>
        <div ng-controller="SignupCtrl as signupCtrl">
            <div class="message-sf text-center" style="color:green" role="alert">
                <h4>{{signupCtrl.message}}</h4>
            </div>
            <form name="signupForm" novalidate ng-show="signupCtrl.displayForm">


                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 signup-box">
                            <h1>Sign-Up Page</h1>
                            <hr>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="fullname_sf">Full Name: </label>
                                    <input class="form-control" type="text" name="fullname_sf" id="fullname_sf" ng-model="signupCtrl.fullname_sf" required>
                                </div>
                                <div class="form-group">
                                    <label for="email_sf">Email: </label>
                                    <input class="form-control" type="email" name="email_sf" id="email_sf" ng-model="signupCtrl.email_sf" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                    <div ng-messages="signupForm.email_sf.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Please enter a valid email address</div>
                                        <div ng-message="minlength">Your field is too short</div>
                                        <div ng-message="maxlength">Your field is too long</div>
                                        <div ng-message="pattern">Incorrect email format</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender_sf">Gender: </label>
                                    <input class="form-inline" type="radio" name="gender_sf" id="gender_sf" value="Male" ng-model="signupCtrl.gender_sf" required> Male
                                    <input class="form-inline" type="radio" name="gender_sf" id="gender_sf" value="Female" ng-model="signupCtrl.gender_sf"> Female
                                </div>
                                <div class="form-group">
                                    <label for="dob_year_sf">Year</label>
                                    <select name="dob_year_sf" ng-model="signupCtrl.dob_year_sf" ng-change="signupCtrl.selectedValue('year')" required>
                                        <option ng-repeat="year in signupCtrl.dob_year_ddl_sf" value="{{year}}">{{year}}</option>
                                    </select>
                                    <label for="dob_mth_sf">Month</label>
                                    <select name="dob_mth_sf" ng-model="signupCtrl.dob_mth_sf" ng-change="signupCtrl.selectedValue('month')" ng-disabled="signupCtrl.month_disabled" required>
                                        <option ng-repeat="month in signupCtrl.dob_mth_ddl_sf" value="{{month}}">{{month}}</option>
                                    </select>
                                    <label for="dob_day_sf">Day</label>
                                    <select name="dob_day_sf" ng-model="signupCtrl.dob_day_sf" ng-disabled="signupCtrl.day_disabled" required>
                                        <option ng-repeat="day in signupCtrl.dob_day_ddl_sf" value="{{day}}">{{day}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="address2_sf">Address Line 1: </label>
                                    <input class="form-control" type="text" name="address1_sf" id="address1_sf" ng-model="signupCtrl.address1_sf" required>
                                </div>
                                <div class="form-group">
                                    <label for="address2_sf">Address Line 2 (Optional): </label>
                                    <input class="form-control" type="text" name="address2_sf" id="address2_sf" ng-model="signupCtrl.address2_sf">
                                </div>
                                <div class="form-group">
                                    <label for="address2_sf">Country: </label>
                                    <input class="form-control" type="text" name="country_sf" id="country_sf" ng-model="signupCtrl.country_sf" required>
                                </div>
                                <div class="form-group">
                                    <label for="address2_sf">Contact Number: </label>
                                    <input class="form-control" type="text" name="contact_sf" id="contact_sf" ng-model="signupCtrl.contact_sf" required ng-pattern="/^(?=.*[0-9])[- +()0-9]+$/">
                                    <div ng-messages="signupForm.contact_sf.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Please enter a valid phone number</div>
                                        <div ng-message="minlength">Your field is too short</div>
                                        <div ng-message="maxlength">Your field is too long</div>
                                        <div ng-message="pattern">Invalid number format</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 signup-box">
                            <h1>&nbsp;</h1>
                            <div class="form-group signup-box-right">
                                <div class="form-group">
                                    <label for="username_sf">Username: </label>
                                    <input class="form-control" type="text" name="username_sf" id="username_sf" ng-model="signupCtrl.username_sf" required>
                                </div>
                                <div class="form-group">
                                    <label for="password_sf">Password: </label>
                                    <input class="form-control" type="password" name="password_sf" id="password_sf" ng-model="signupCtrl.password_sf" required min="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$])[A-Za-z\d@#$]{8,}/">
                                    <div ng-messages="signupForm.password_sf.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Please enter a strong password</div>
                                        <div ng-message="minlength">Your field is too short</div>
                                        <div ng-message="maxlength">Your field is too long</div>
                                        <div ng-message="pattern">Minimum 8 characters, consisting of at least one number, uppercase and lowercase letters, as well as one or more of these special characters: @, #, $</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-success" ng-click="signupCtrl.buttonPress('submit')" ng-disabled="signupForm.$invalid">Submit</a>
                                <a href="#" class="btn btn-default" ng-click="signupCtrl.buttonPress('clear')">Clear</a>
                            </div>
                            <div class="text-center">
                                <p><a href="#" ng-click="signupCtrl.buttonPress('hideForm')">Hide form</a></p>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>

            </form>
        </div>

    </div>


    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-messages/angular-messages.js"></script>

    <script type="text/javascript" src="/index.js"></script>
</body>
</html>

